@model FightData.UI.ViewModels.ExhibitionIndex.ExhibitionGrid
@{
    ViewData["Title"] = "Index";
}

<h2>Exhibitions</h2>

<a asp-action="Create">Create new exhibition</a>

<table class="table">
    <thead>
        <tr>
            <th>Name</th>
            <th>Date</th>
            @foreach (var website in Model.Websites)
            {
                <th>
                    @website.WebsiteName
                </th>
            }
            <th></th>
            <th></th>
            <th></th>
            <th></th>
        </tr>
    </thead>
    <tbody>
        @foreach (ExhibitionGridEntry exhibitionGridEntry in Model.ExhibitionGridEntries)
        {
        <tr>
            <td>
                @exhibitionGridEntry.Exhibition.Name
            </td>
            <td>
                @exhibitionGridEntry.Exhibition.Date.ToShortDateString()
            </td>

            @foreach (Website website in Model.Websites)
            {
                <td>
                    <a href="@exhibitionGridEntry.GetWebsiteUrl(website)">@exhibitionGridEntry.GetWebsiteUrl(website)</a>
                </td>
            }
            <td>
                <a asp-action="Edit" asp-route-id="@exhibitionGridEntry.Exhibition.Id" class="btn btn-info">Edit</a>
            </td>
            <td>
                <a asp-action="Delete" asp-route-id="@exhibitionGridEntry.Exhibition.Id" class="btn btn-danger">Delete</a>
            </td>

            @if (!exhibitionGridEntry.IsDataDownloaded() && !exhibitionGridEntry.IsParsed())
            {
                <td>
                    <a asp-action="RedownloadData" asp-route-id="@exhibitionGridEntry.Exhibition.Id" class="btn btn-primary">Redownload Data</a>
                </td>
            }
            else if (!exhibitionGridEntry.IsParsed())
            {
                <td>
                    <a asp-action="ExtractWebpages" asp-route-id="@exhibitionGridEntry.Exhibition.Id" class="btn btn-primary">Process</a>
                </td>
            }
            else
            {
                <td>
                    <a asp-action="DeleteParsedData" asp-route-id="@exhibitionGridEntry.Exhibition.Id" class="btn btn-warning">Delete Parsed Data</a>
                </td>

            }
        </tr>
        }
    </tbody>
</table>

<a asp-action="DeleteAllParsedData">Delete all parsed data</a>
