@model FightData.UI.ViewModels.UnfoundPicksView

<h2>Invalid Picks</h2>

@using (Html.BeginForm("UnfoundPicks", "Exhibition"))
{
    @Html.HiddenFor(m => m.Exhibition.Id)
    <table class="table">
        <thead>
            <tr>
                <th>Analyst</th>
                <th>Pick Text</th>
                <th>Pick</th>
                <th>Cancel</th>
            </tr>
        </thead>
        <tbody>
            @for (int i = 0; i < Model.ReconciledPicks.Count; i++)
            {
                @Html.HiddenFor(m => m.ReconciledPicks[i].CorrectAnalystId)
                <tr>
                    <td>@Model.ReconciledPicks[i].RawAnalystPick.Analyst</td>
                    <td>@Model.ReconciledPicks[i].RawAnalystPick.Pick</td>
                    <td>@Html.DropDownListFor(m => m.ReconciledPicks[i].CorrectFighterPickId, Model.Fighters, "", null)</td>
                    <td>@Html.CheckBoxFor(m => m.ReconciledPicks[i].Cancelled)</td>
                </tr>
            }
        </tbody>
    </table>

    <input type="submit" value="Submit" class="btn btn-info" />
}
<p></p>
<table class="table">
    <thead>
        <tr>
            <th>Winner</th>
            <th>Loser</th>
        </tr>
    </thead>
    <tbody>
        @foreach (Fight fight in Model.Exhibition.Fights)
        {
            <tr>
                <td>
                    @fight.Winner.FullName
                </td>
                <td>
                    @fight.Loser.FullName
                </td>
            </tr>
        }
    </tbody>
</table>
