@model FightData.Domain.Views.PickView

@{
    ViewData["Title"] = "Index";
}

<h2>Picks</h2>

<table class="table">
    <thead>
        <tr>
            <th>Name</th>
            <th></th>
            <th></th>
            <th></th>
            @foreach(Analyst analyst in Model.AnalystFinder.GetAllAnalysts())
            {
                <th>@analyst.Name</th>
            }
        </tr>
    </thead>
    <tbody>
        @foreach (var exhibition in Model.Exhibitions)
        {
            @for (int i = 0; i < exhibition.Fights.Count; i++)
            {
        <tr>
            @if (i == 0)
            {
                <td rowspan="@exhibition.Fights.Count">@exhibition.Name</td>
            }
            <td>
                @exhibition.Fights[i].Winner.FullName
            </td>
            <td>def.</td>
            <td>
                @exhibition.Fights[i].Loser.FullName
            </td>
            @foreach (Analyst analyst in Model.AnalystFinder.GetAllAnalysts())
            {
                <td class="@Model.FindPickColour(analyst, exhibition.Fights[i])">@Model.FindPickText(analyst, exhibition.Fights[i])</td>
            }
        </tr>
            }
        }
    </tbody>
</table>